{% extends 'base/index.html' %}

{% block main %}
    <div class="container mt-5">
        <ul class="nav lav-tabs md-tabs nav-justified indigo" id="about_us_tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="about_me_tab_md" data-toggle="tab" href="#about_me_md" role="tab"
                   aria-controls="about_me_md">
                    About Me
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="faq_tab_md" data-toggle="tab" href="#faq_md" role="tab" aria-controls="faq_md">
                    FaQ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="map_tab_md" data-toggle="tab" href="#map_md" role="tab" aria-controls="map_md">
                    Project Maps
                </a>
            </li>
        </ul>
        <div class="tab-content card pt-5" id="about_us_md">
            <div class="tab-pane fade show active" id="about_me_md" role="tabpanel" aria-labelledby="about_me_tab_md">
                <div class="row">
                    <div class="col-md-4">
                        <div class="p-3">
                        <img src="{{ about_us.images.url }}" alt="{{ about_us.slug }}" class="w-100"/>
                            </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card-text p-3">{{ about_us.content|safe }}</div>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade" id="faq_md" role="tabpanel" aria-labelledby="faq_md">
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                    {% for faq in faqs %}
                        <!-- Accordion card -->
                        <div class="card border-top border-bottom-0 border-left border-right border-light">

                            <!-- Card header -->
                            <div class="card-header border-bottom border-light" role="tab" id="headingOne{{ forloop.counter0 }}">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne{{ forloop.counter0 }}"
                                   aria-expanded="true"
                                   aria-controls="collapseOne1">
                                    <h5 class="black-text font-weight-normal mb-0">
                                        {{ faq.title }} <i
                                            class="fas fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseOne{{ forloop.counter0 }}" class="collapse" role="tabpanel" aria-labelledby="headingOne{{ forloop.counter0 }}"
                                 data-parent="#accordionEx">
                                <div class="card-body">
                                    {{ faq.content|safe}}
                                </div>
                            </div>

                        </div>
                        <!-- Accordion card -->
                    {% endfor %}


                </div>
                <!-- Accordion wrapper -->
            </div>
            <div class="tab-pane fade" id="map_md" role="tabpanel" aria-labelledby="map_md">
                <p>Maps</p>
            </div>
        </div>
    </div>
{% endblock %}